.contacts {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  margin-top: 1rem;
  min-height: 800px;
}

.contacts__title { 
    text-align: center;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-width: 1000px;
    min-height: 600px;
    border: 2px solid #000;
    gap: 1rem;
    border-radius: .5rem;
    font-size: var(--fs-500);
    margin: 1rem 0;
}

.contacts__form-title {
    align-items: flex-start;
    text-transform: uppercase;
}

.contacts__general {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: .5rem;
}

.contacts__input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts__input label {
    font-weight: 600;
}

.contacts__message, .contacts__email, .contacts__name {
    padding: 1rem 1rem;
    width: 100%;
    font-size: var(--fs-500);
}

.contacts__message {
    resize: none;
}

.contacts__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts__button {
    outline: none;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 1rem 2rem;
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
    margin: 1rem 0;
}

.contacts__button:hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width: 1000px) {
    .contacts { 
        padding: 0 1rem;
    }
}