#editing, #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 100%;
  min-height: 150px;
  resize: none;
}

#editing {
  z-index: 1;
}

#editing:focus {
  border: none;
  outline: none;
}

#highlighting {
  z-index: 0;
}

#editing, #highlighting, #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
  tab-size: 2;
}

#editing, #highlighting {
  /* In the same place */
  position: absolute;
  top: 0;
  left: 0;
}

/* Make textarea almost completely transparent */

#editing {
  color: transparent;
  background: transparent;
  caret-color: white;
}

/* Can be scrolled */
#editing, #highlighting {
  overflow: auto;
  white-space: nowrap;
}
/* No resize on textarea */
#editing {
  resize: none;
}

pre[class*="language-"] {
  padding: .4em .8em;
  margin: .5em 0;
  overflow: auto;
  background: black; /* - WebCoder49 */
}

p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}

.pre__highlight {
  font-family: monospace;
  line-height: 20pt;
  tab-size: 2;
  overflow: auto;
  white-space: nowrap;
}

.highlight {
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
  resize: none;
  font-size: 12px;
  padding: 0 2rem;
}