.card {
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  display: flex;
  text-align: center;
  max-width: 500px;
  color: #fff;
  width: 100%;
  gap: 1rem;
  transition: all 0.3s linear;
  align-self: flex-start;
}

.card:hover {
  scale: 1.1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* add card animation on cards */

.card__details {
  align-self: flex-start;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: #1f2124;
  display: flex;
  flex-direction: column;
}

.card__description {
  flex: 0.4;
  color: #fff;
  padding: 2rem;
  font-size: var(--fs-500);
  display: none;
}

@media (max-width: 1000px) {
  .card {
    margin: 10px 20px;
    width: calc(100% - 40px);
    flex-direction: column;
    align-items: center;
  }

  .card__details {
    align-self: center;
  }
}
.card .title {
  font-size: 25px;
}

.card .icon {
  margin: 50px 0;
}

.card .icon svg {
  width: 100px;
  height: 100px;
}

.card .icon svg path {
  fill: #f6b352;
}

.card .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}

.card .features ul li {
  margin: 10px 0;
  font-size: 14px;
}

.card .features ul li span {
  border-bottom: 2px dotted #f6b352;
  margin-inline: 0.5rem;
}

.card .btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background: #fff;
  color: #000;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.card .btn:hover {
  background: #000;
  color: #fff;
}

.card .btn:hover svg {
  fill: #fff;
}
