.card {
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  display: flex;
  text-align: center;
  max-width: 1000px;
  color: #fff;
  gap: 1rem;
  transition: transform 0.3s linear;
}

.card__details {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  align-self: flex-start;
  padding: 20px;
  max-width: 500px;
  width: 80%;
  background: #1f2124;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card__description {
	flex: .4;
	color: #000;
	padding: 2rem;
	font-size: 18px;
}

@media (max-width: 1000px) {
 .card {
    margin: 10px 20px;
    width: calc(100% - 40px);
  }

  .card:first-child {
    margin-top: 20px;
  }
}
.card .title {
  font-size: 25px;
}

.card .icon {
  margin: 50px 0;
}

.card .icon svg {
  width: 100px;
  height: 100px;
}

.card .icon svg path {
  fill: #f6b352;
}

.card .features ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}

.card .features ul li {
  margin: 10px 0;
  font-size: 14px;
}

.card .features ul li span {
  border-bottom: 2px dotted #f6b352;
  margin-inline: 0.5rem;
}

.card .btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background: #fff;
  color: #000;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.9);
  transition: all 200ms ease-in-out;
  text-decoration: none;
}

.card .btn:hover {
  background: #000;
  color: #fff;
}

.card .btn:hover svg {
  fill: #fff;
}