*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  scroll-behavior: smooth;
}

:root {
  --black: #1a1c20;
  --white: #f4f4f4;
  --primary: #f6b352;

  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-800: 6rem;
}

@media screen and (max-width: 1250px) {
  :root {
    --fs-300: 0.4rem;
    --fs-400: 0.7em;
    --fs-500: 1rem;
    --fs-600: 1.5rem;
    --fs-800: 4rem;
  }
}

.ripple {
  width: 10px;
  height: 10px;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid var(--primary);
  pointer-events: none;
}

@keyframes ripple-effect {
  to {
    transform: scale(15);
    opacity: 0.01;
  }
}

.containers {
  display: flex;
  height: clamp(1000px, 15vh + 1rem, 2000px);
  overflow: hidden;
  max-height: 2000px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  background-color: #fff;
  width: 60%;
  user-select: none;
  max-height: 1000px;
}

.right-container {
  position: relative;
  background-color: black;
  color: white;
  max-width: 4000px;
  min-width: 0;
  width: 50%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.right__inner {
  height: 100%;
}

#drag-resize {
  width: 0.5rem;
  height: 100%;
  max-height: 1000px;
  z-index: 100;
  position: relative;
  background: var(--primary);
  transition: all 0.2s linear;
  cursor: col-resize;
}

#drag-resize:hover {
  width: 1rem;
  transition: background 0.2s ease-in-out;
}

.editor__wrapper {
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: 1920px;
  left: 0;
}

.output__resize {
  width: 100%;
  height: 0.2rem;
  max-height: 1000px;
  background: var(--primary);
  transition: all 0.2s linear;
  margin: 1rem 0;
  cursor: col-resize;
  align-self: flex-end;
}

.output__wrapper {
  position: relative;
  width: 40%;
}

.editor__button {
  position: relative;
  left: 0.5rem;
  outline: none;
  border: none;
  background: #fff;
  color: #000;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  transition: all 0.2s linear;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 10;
}

.editor__button:hover {
  color: #fff;
  background: #000;
}

.scroller__parent {
  z-index: 10;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 1rem;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scroller__parent--up {
  top: 1rem;
  bottom: unset;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135eg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#to {
  text-align: center;
  font-size: 20px;
}

.cursor {
  width: 10px;
  height: 2px;
  background: #000;
}

.center-container {
  position: absolute;
  top: 25vh;
  left: 5vw;
  height: 50vh;
  border-radius: 2rem;
  -webkit-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}

.info {
  display: flex;
  padding: 3rem;
  font-size: 1rem;
}

.info a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.story {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.story__wrapper {
  display: flex;
  flex-direction: column;
}

#because {
  display: flex;
}

#because h1 {
  border-radius: 1.5rem;
  transition: all 0.5s linear;
  font-size: var(--fs-800);
}

#because h1:hover {
  padding: 0 0.5rem;
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  transform: rotate(-15deg);
}

.great {
  font-size: 2rem;
  display: flex;
  align-items: baseline;
}

.story h1 {
  font-size: 9rem;
  margin-bottom: 2rem;
  font-family: "Garamond";
}

.story p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  padding-right: 20rem;
  font-family: "Garamond";
}

.story p:nth-child(3) {
  margin-top: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "helvetica";
}

.menu-container {
  width: 50px;
  height: 45px;
}

.menu,
.menu:after,
.menu:before {
  width: 50px;
  height: 5px;
}

.menu {
  position: relative;
  transform: translateY(20px);
  background: black;
  /*   for now  */
  display: none;
}

.menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background: black;
}

.menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: black;
}

.social-container {
  position: relative;
  bottom: 2rem;
  right: 2rem;
}

.social {
  display: flex;
}

.social ul {
  margin-right: 1rem;
  font-weight: 700;
  font-family: "helvetica";
}

@keyframes go-left {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

/* Paragraphs; First Image */
.output__wrapper {
  width: 100%;
  padding-inline: 1rem;
  bottom: 0;
}

.prompt {
  position: relative;
  width: 100%;
  z-index: 2;
  padding-inline: 1rem;
  font-size: 1em;
}

.nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.nav__link {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}

.nav__link a {
  text-decoration: none;
  color: #000;
}

.github__link {
  text-decoration: none;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
}

#too__simple-huh {
  position: absolute;
  top: -.5rem;
  color: #000;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -0.2rem;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__links-wrapper {
  display: flex;
  gap: 3rem;
  justify-self: flex-start;
}

.works {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.contacts__title,
.works__title {
  margin: 1rem 0;
}

/* Move the textarea in front of the result */
@media screen and (max-width: 1000px) {
  .left-container {
    width: 100%;
  }

  .right-container {
    display: none;
  }

  .editor__wrapper {
    width: 100%;
  }

  .prompt {
    width: 100%;
  }

  .output__wrapper {
    width: 100%;
  }

  #editing,
  #highlighting {
    width: 100%;
  }

  .works {
    flex-direction: column;
    align-items: center;
  }

  .story {
    justify-content: center;
    margin-top: 1rem;
  }

  .nav__links-wrapper {
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {

  .nav {
    padding: .5rem;
  }

  .nav__links-wrapper {
    gap: 1rem;
  }

}

