*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  scroll-behavior: smooth;
}

.containers {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-container {
  position: relative;
  background-color: black;
  width: 50%;
  color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.editor__wrapper {
  position: relative;
  width: 100%;
  min-height:  200px;
  max-height: 1920px;
  left: 0;
}

.output__wrapper {
  position: relative;
  width: 40%;
}

.editor__button {
  position: relative;
  left: .5rem;
  outline: none;
  border: none;
  background: #fff;
  color: #000;
  padding: 1rem 1.5rem;
  font-weight: 500;;
  border-radius: 2rem;
  transition: all .2s linear;
  cursor: pointer;
}

.editor__button:hover {
  color: #fff;
  background: #000;
}


.scroller__parent {
  z-index: 10;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 1rem;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.scroller__parent--up {
  top: 1rem;
  bottom: unset;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 100%;
  max-width: 150px;
  width: 100%;
  display: inline-block;
  padding: 6px;
  transition: all .5s linear;
  position: relative;
  cursor: grabbing;
}

.arrow:hover {
  border: solid gray;
  border-width: 0 3px 3px 0;
  scale: 2.5;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135eg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right-container {
  position: relative;
  background-color: white;
  height: 100%;
  width: 70vw;
}

#to {
  text-align: center;
  font-size: 20px;
}

.cursor {
  width: 10px;
  height: 2px;
  background: #000;
}

.center-container {
  position: absolute;
  top: 25vh;
  left: 5vw;
  height: 50vh;
  border-radius: 2rem;
  -webkit-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}

.info {
  display: flex;
  padding: 3rem;
  font-size: 1rem;
}

.info a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.story {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.story__wrapper {
  display: flex;
  flex-direction: column;
}

#because {
  display: flex;
}

#because h1 {
  border-radius: 1.5rem;
  transition: all .5s linear;
}

#because h1:hover {
  padding: 0 .5rem;
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  transform: rotate(-15deg);
}

.great {
  font-size: 2rem;
  display: flex;
  align-items: baseline;
}

.story h1 {
  font-size: 9rem;
  margin-bottom: 2rem;
  font-family: "Garamond";
}

.story p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  padding-right: 20rem;
  font-family: "Garamond";
}

.story p:nth-child(3) {
  margin-top: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "helvetica";
}

.menu-container {
  width: 50px;
  height: 45px;
}

.menu,
.menu:after,
.menu:before {
  width: 50px;
  height: 5px;
}

.menu {
  position: relative;
  transform: translateY(20px);
  background: black;
/*   for now  */
  display: none;
}

.menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background: black;
}

.menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: black;
}

.social-container {
  position: relative;
  bottom: 2rem;
  right: 2rem;
}

.social {
  display: flex;
}

.social ul {
  margin-right: 1rem;
  font-weight: 700;
  font-family: "helvetica";
}

.first-block {
  position: absolute;
  width: 0%;
  height: 100vh;
  background: black;
  animation: go-left 4s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  left: 0;
}

@keyframes go-left {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

/* Paragraphs; First Image */

.output__wrapper {
  width: 100%;
  padding-inline: 1rem;
  bottom: 0;
}

.prompt {
  position: relative;
  width: 100%;
  top: 2rem;
  z-index: 2;
  padding-inline: 1rem;
  font-size: 1em;
}

.prompt__try {
  color: #fff;
  position: relative;
  align-self: flex-start;
  padding-inline: 1rem;
  outline: none;
  top: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.nav {
  display: flex;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.nav__link {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}

.nav__link a {
  text-decoration: none;
  color: #000;
}

#too__simple-huh {
  position: absolute;
  top: 1rem;
  color: #000;
  font-size: 12px;
  opacity: 0;
  transition: opacity .2s linear;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: -.2rem;
  left: 0;
  opacity: 0;
  transition: opacity .2s linear;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__links-wrapper {
  display: flex;
  gap: 3rem;
  justify-self: flex-start;
}

.works {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Move the textarea in front of the result */
@media screen and (max-width: 1000px) {
  .containers {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
  }

  .editor__wrapper {
    width: 100%;
  }

  .prompt {
    width: 100%;
  }

  .output__wrapper {
    width: 100%;
  }
  
  #editing, #highlighting {
    width: 100%;
  }

  .works {
    flex-direction: column;
    align-items: center;
  }
}