*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.containers {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-container {
  background-color: black;
  height: 100%;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroller__parent {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 1rem;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.scroller__parent--up {
  top: 1rem;
  bottom: unset;
}


.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  height: 100%;
  max-width: 150px;
  width: 100%;
  display: inline-block;
  padding: 6px;
  transition: all .5s linear;
  position: relative;
  cursor: grabbing;
}

.arrow:hover {
  border: solid gray;
  border-width: 0 3px 3px 0;
  scale: 2.5;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135eg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.right-container {
  position: relative;
  background-color: white;
  height: 100%;
  width: 70vw;
}

.center-container {
  position: absolute;
  top: 25vh;
  left: 5vw;
  height: 50vh;
  border-radius: 2rem;
  -webkit-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}

.code__card {
  border-radius: 2rem;
  height: 100%;
  z-index: 10;
  font-size: 18px;
  line-height: 1.8;
  position: relative;
  left: 0;
}

.code__card::after {
  content: '';
  position: absolute;
  top: 0;
}

.switch__parent {
  display: flex;
  justify-content: flex-end;
  margin-inline: 1rem;
}

.switch__lan {
  width: 30px;
  height: 30px;
  margin-inline: .2rem;
  text-align: center;
  border: transparent;
  align-items: center;
  transition: all .2s linear;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  color: #fff;
  opacity: 1;
}

.switch__lan--js {
  background: yellow;
  font-weight: 600;
  color:rgba(0, 0, 0, 1);
}

.switch__lan--py {
  background: #2aa198;
}

.switch__lan--c {
  background: #268bd2;
}

.switch__lan:hover {
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}

.code {
  height: 100%;
}

.logo {
  padding: 3rem;
  font-size: 2rem;
  font-family: "helvetica";
}

.info {
  display: flex;
  padding: 3rem;
  font-size: 1rem;
}

.info a {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
}

.story {
  position: absolute;
  height: 40%;
  top: 30vh;
  transform: translateX(50%)
}

#because {
  display: flex;
}

#because h1 {
  border-radius: 1.5rem;
  transition: all .5s linear;
}

#because h1:hover {
  padding: 0 .5rem;
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  transform: rotate(-15deg);
}

.great {
  font-size: 2rem;
}

.story h1 {
  font-size: 9rem;
  margin-bottom: 2rem;
  font-family: "Garamond";
}

.story p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  padding-right: 20rem;
  font-family: "Garamond";
}

.story p:nth-child(3) {
  margin-top: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "helvetica";
}

.menu-container {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 50px;
  height: 45px;
}
.menu,
.menu:after,
.menu:before {
  width: 50px;
  height: 5px;
}

.menu {
  position: relative;
  transform: translateY(20px);
  background: black;
}

.menu:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background: black;
}
.menu:after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: black;
}

.social-container {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.social {
  display: flex;
}

.social ul {
  margin-right: 1rem;
  font-weight: 700;
  font-family: "helvetica";
}

.first-block {
  position: absolute;
  width: 0%;
  height: 100vh;
  background: black;
  animation: go-left 4s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  left: 0;
}

@keyframes go-left {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}

.beatanyone__container {
  position: relative;
  top: 0;
  padding: 1rem 0;
  height: 100%;
  opacity: 0;
  display: none;
}

.beatanyone__container::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 90%;
  width: 2px;
  bottom: 0;
  background: black;
}

.beatanyone {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  margin-top: 1rem;
}

.beatanyone__right {
  display: flex;
  justify-content: flex-end;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;

  max-width: 450px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.beatanyone__container:nth-child(1n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.beatanyone__container:nth-child(2n) .ag-courses-item_bg {
  background-color: #e44002;
}
.beatanyone__container:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.beatanyone__container:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.beatanyone__container:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}