.beatanyone__container {
  position: relative;
  top: 0;
  padding: 1rem 0;
  height: 100%;
  opacity: 1;
}

.skills__title {
  text-align: center;
  margin: 2rem 0;
}

.beatanyone__container::before {
  content: '';
  position: absolute;
  left: 50%;
  height: 90%;
  width: 2px;
  bottom: 0;
  border: 1px solid #000;
  border-style: none none none dashed;
}

.beatanyone {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  margin-top: 1rem;
}

.beatanyone__right {
  display: flex;
  justify-content: flex-end;
}
